cython                          >=0.29.24
deepmerge                       >=1.0.1
dash                            >=2.0.0
dash-bootstrap-components       >=0.12.2
dash_uploader                   >=0.6.0
filelock                        >=3.4.2
gevent                          >=21.1.2
grpcio                          >=1.43.0
holoviews                       >=1.14.8
intervaltree                    >=3.1.0
Jinja2                          ==2.11.2
kaleido                         >=0.2.1
matplotlib                      >=3.4.3
modin                           >=0.13.2
markupsafe                      ==2.0.1
msgpack                         >=1.0.3
numba                           >=0.55.1
numpy                           >=1.21.3
pandas                          >=1.2.4
pdfkit                          >=1.0.0
protobuf                        >=3.19.4
plotly                          >=5.3.1
psutil                          >=5.9.0
ray                             >=1.11.0
redis                           >=4.1.2
toml                            >=0.10.2
wheel                           >=0.36.2